/*************** NEWS Section Starts *************/
.news-section {
    position: relative;
    top: var(--relative-top);
    padding: 75px 0;
}

.news-section .container {
    text-align-last: left;
    line-height: 1.6;
}

.news-section h1 {
    color: #121212;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: "Playfair Display", "serif";
}

.news-section h6 {
    color: var(--primary-color-2);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    font-family: "Roboto", sans-serif;
}

.news-section .content {
    font-size: 18px;
    color: #444;
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
    text-align: justify;
}

.news-section a{
    width: 200px;
    font-size: 20px;
    margin: 20px 0;
}

.news-section .card-action {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color-2);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
}

.news-section svg{
    width: 26px;
}